.footer {
  background-color: #0a2850;
  color: #ffffff;
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 60px 80px 60px;
  margin: 0;
  overflow: hidden;
}

.footer__content {
  display: flex;
  justify-content: space-between;
  z-index: 1;
}

.footer__social {
  display: flex;
  flex-direction: column;
  align-items: end;
}

.footer__social-heading {
  margin: 0 0 20px;
  font-family: "Inter";
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
}

.footer__list {
  list-style-type: none;
  margin: 0;
}

.footer__list-item:first-child {
  margin-bottom: 16px;
}

.footer__social-icon {
  width: 16px;
  height: 16px;
  margin-right: 10px;
}
.footer__social-link {
  color: #ffffff;
  text-decoration: none;
  font-family: "Inter";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
}

.footer__social-link:hover {
  color: #c1c1c1;
}

.footer__circle {
  width: 340px;
  height: 340px;
  border-radius: 50%;
  background-color: #2f90ed;
  position: absolute;
  top: -128px;
  left: -44px;
  z-index: 0;
}

.footer__copyright {
  margin: 108px 0 0;
  z-index: 1;
  font-family: "Inter";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
}
