.nav {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
}

.nav__logo {
  width: 105px;
  height: 39px;
  margin: 30px 0 0 30px;
  /* position: relative;
  top: 30px;
  left: 30px; */
}

.nav__links {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 30px 80px 0 0;
  gap: 20px;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.nav__link {
  text-decoration: none;
  color: #000000;
}

.nav__link:hover {
  color: #2f80ed;
}
