.recipes {
  background-color: #0a2750;
  background-image: url("../images/background_recipes.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  color: #ffffff;
}

.recipes__content {
  padding: 100px 80px 215px 80px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.recipes__title {
  max-width: 580px;
  margin-bottom: 24px;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

.recipes__subtitle {
  max-width: 438px;
  margin-bottom: 80px;
  font-family: "Noto Serif", Times New Roman, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}

.recipes__videos {
  margin: 0 auto;
  display: flex;
  gap: 40px;
}

.recipes__video-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.recipes__iframe {
  width: 480px;
  height: 273px;
  border: none;
  padding: 0;
  margin-bottom: 24px;
}

.recipes__video-caption {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
}
