.reservation {
  background-image: url(/images/background_reservation.svg);
  background-color: #d9e7ff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 0 120px;
}

.reservation__title {
  margin-top: 0;
  margin-bottom: 80px;
  margin-left: auto;
  margin-right: auto;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

.reservation__form {
  margin: 0 auto;
}
