.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: "Inter", Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
}

.header {
  background-color: #ffffff;
  background-image: url("../images/background_header.svg");
  background-size: cover;
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 720px;
  max-height: 800px;
  height: 100vh;
  padding: 0;
}

.nav {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
}

.nav__logo {
  width: 105px;
  height: 39px;
  margin: 30px 0 0 30px;
  /* position: relative;
  top: 30px;
  left: 30px; */
}

.nav__links {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 30px 80px 0 0;
  gap: 20px;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.nav__link {
  text-decoration: none;
  color: #000000;
}

.header__content {
  position: absolute;
  top: 183px;
}

.header__title {
  max-width: 709px;
  margin: 252px 0 0 80px;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 58px;
  line-height: 72px;
  letter-spacing: -1px;
}

.header__span-accent {
  font-family: "Noto Serif", Times New Roman, serif;
  font-style: italic;
  font-weight: normal;
  font-size: 58px;
  line-height: 72px;
  color: #2f80ed;
}

.header__description {
  max-width: 683px;
  margin: 28px 0 0 80px;
  font-family: "Noto Serif", Times New Roman, serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
}

.header__image {
  height: 568px;
  width: 646px;
  position: absolute;
  top: 124px;
  right: 5px;
}

.header__footer {
  position: absolute;
  bottom: 40px;
  left: 80px;
  right: 80px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header__paragraph {
  padding: 0;
  margin: 0;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #838383;
}

.header .header__footer .header__paragraph:last-child {
  position: absolute;
  bottom: 0;
  right: 0;
}

.recipes {
  background-color: #0a2750;
  background-image: url("../images/background_recipes.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  color: #ffffff;
}

.recipes__content {
  padding: 100px 80px 215px 80px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.recipes__title {
  max-width: 580px;
  margin-bottom: 24px;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

.recipes__subtitle {
  max-width: 438px;
  margin-bottom: 80px;
  font-family: "Noto Serif", Times New Roman, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}

.recipes__videos {
  margin: 0 auto;
  display: flex;
  gap: 40px;
}

.recipes__video-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.recipes__iframe {
  width: 480px;
  height: 273px;
  border: none;
  padding: 0;
  margin-bottom: 24px;
}

.recipes__video-caption {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
}
